<!DOCTYPE html>
<html ng-app="characters">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/char.css">
    <link rel="stylesheet" type="text/css" href="style/stylicious.css">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/characters.js"></script>
    <title>Characters</title>
</head>
<body ng-controller='charController as Peeps' ng-controller="pageController as page"  ng-cloak class="ng-cloak" class="bork">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" ng-init="page.currentPage=1">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href ng-click="page.currentPage = 1">Characters</a></li>
            <li role="presentation"><a href ng-click="page.currentPage = 2">MessageBoard</a></li>
            <li role="presentation"><a href ng-click="page.currentPage = 3">Messages</a></li>
        </ul>
    </div>
</nav>
<div class="col-sm-3 col-md-2 sidebar"  ng-controller="userController as userCon">
    <strong>email</strong>: {{user.local.email}}
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
    </ul>
    <select id="room">
        <option ng-repeat="room in user.campaigns" value="{{room}}">{{room}}</option>
    </select>
    <form name="addRoom" class="charInput" ng-submit="userCon.addRoom()">
        <fieldset class="form-group">
            <label for="name">Add Room</label>
            <input class="form-control" type="text" name="name" ng-model="userCon.newRoom">
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Add Room"/>
        </fieldset>
    </form>
</div>
<div ng-show="page.currentPage == 1">
    <div class="panel panel-default greyness">
        <table class="table table-bordered table-striped mytable">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Class
                </th>
                <th>
                    HP
                </th>
            </tr>
            <tr ng-repeat="chars in Peeps.characters| filter:search">
                <td>
                    {{chars.name}}
                </td>
                <td>
                    {{chars.type}}
                </td>
                <td>
                    {{chars.hp}}
                </td>
            </tr>
        </table>
        <label for="searcher" class="search">Search</label>
        <input ng-model="search" name="searcher" class="form-control search"/>
    </div>
    <div class="panel panel-default greyness">
        <form name="addChar" ng-controller="charAdder as char" class="charInput" ng-submit="char.addCharacter(Peeps)"
              ng-show="page.currentPage == 1">
            <fieldset class="form-group">
                <label for="name">Character name</label>
                <input class="form-control" type="text" name="name" ng-model="char.character.name">
            </fieldset>
            <fieldset class="form-group">
                <label for="class">Class</label>
                <input class="form-control" type="text" name="class" ng-model="char.character.type"/>
            </fieldset>
            <fieldset>
                <label for="HP">HP</label>
                <input class="form-control" type="text" name="HP" ng-model="char.character.hp"/>
            </fieldset>
            <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Character"/>
            </fieldset>
        </form>
    </div>
</div>
<div ng-show="page.currentPage == 2" ng-controller="imgController as images">
    <div class="panel panel-default imageThing">
        <form name="poster" class="charInput" ng-controller="imageAdder as something"
              ng-submit="something.addImage(images)">
            <fieldset>
                <label for="Image">Image Link</label>
                <input class="form-control" type="text" name="Image" ng-model="something.tempImage"/>
            </fieldset>
            <fieldset>
                <label for="Title">Post Title</label>
                <input class="form-control" type="text" name="Title" ng-model="something.tempTitle"/>
            </fieldset>
            <fieldset>
                <label for="Text">Post Content</label>
                <input class="form-control" type="text" name="Text" ng-model="something.tempText"/>
            </fieldset>
            <fieldset class="form-group">
                <input type="submit" class="btn  pull-right" value="Post"/>
            </fieldset>
        </form>
    </div>
    <div ng-repeat="posts in images.post">
        <div class="panel panel-default greyness">
            <h2>{{posts.title}}</h2>
            <img class="instaImages" ng-src="{{posts.image}}"/>

            <p>{{posts.text}}</p>
        </div>
    </div>
    <div id="postBox"></div>
</div>
<div ng-show="page.currentPage == 3" ng-controller="chatter as chat">
    <div class="container">
        <div class="chat" id="chatbox">
        </div>
        <form id="watid" action="">
            <div class="form-group">
                <input class="form-control" id="m" autocomplete="off"/>
                <button class="btn btn-default btn-lg center">Send</button>
            </div>
        </form>
        <button class="btn btn-default" id="send" type="button">Clear chat!</button>
    </div>
</div>
</body>
</html>