<!DOCTYPE html>
<html ng-app="characters">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css'/>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.print.css'/>
    <link rel="stylesheet" type="text/css" href="style/char.css">
    <link rel="stylesheet" type="text/css" href="style/stylicious.css">
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/characters.js"></script>
    <title>Characters</title>
</head>
<body ng-controller='charController as Peeps' ng-controller="pageController as page"
      ng-init="page.secondarypage=0; page.description = 0" ng-cloak class="ng-cloak" class="bork">
<nav class="navbar navbar-default navbar-fixed-top">
    <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>

    <div class="container" ng-init="page.currentPage=1" ng-show="page.secondarypage == 1">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href ng-click="page.currentPage = 1">Characters</a></li>
            <li role="presentation"><a href ng-click="page.currentPage = 2">Message Board</a></li>
            <li role="presentation"><a href ng-click="page.currentPage = 3">Messages</a></li>
        </ul>
    </div>
</nav>
<div class="col-sm-3 col-md-2 sidebar leftyfloat" ng-controller="userController as userCon">
    <strong>email</strong>: {{user.local.email}}
    <!-- Button trigger modal -->

    <ul class="nav nav-pills nav-stacked">
        <li role="presentation">
            <a href ng-click="page.secondarypage = 0">Intro Page</a>
        </li>
        <li role="presentation">
            <a href ng-click="page.secondarypage = 1">Game Page</a>
        </li>
    </ul>

    <select id="room" class="form-control" ng->
        <option ng-repeat="room in user.campaigns" value="{{room}}">{{room}}</option>
    </select>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Add Room
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Room</h4>
                </div>
                <div class="modal-body">
                    <form name="addRoom" class="charInput" ng-submit="userCon.addRoom()">
                        <fieldset class="form-group">
                            <label for="name">Name of room</label>
                            <input class="form-control" type="text" name="name" ng-model="userCon.newRoom">
                        </fieldset>
                </div>
                <div class="modal-footer">
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Add Room"/>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="page.secondarypage == 0" ng-controller="descriptionController as desc">
    <h1 class="center">{{roomname}}</h1>

    <div ng-show="page.description == 1">
        <label class="descLabel">Add a description</label>
        <textarea class="form-control description" id="description-box" rows="3"></textarea>
        <button class="btn btn-primary descLabel" id="description-saver" ng-click="page.description = 0">
            Save
        </button>
    </div>
    <div ng-show="page.description == 0">
        <p class="center">{{Descy}}</p>
    </div>
    <button class="btn btn-primary bot-left" ng-click="page.description = 1">
        Add a description
    </button>
</div>
<div ng-show="page.secondarypage == 1">
<div ng-show="page.currentPage == 1">
    <div class="panel panel-default greyness">
        <table class="table table-bordered table-striped mytable">
            <tr>
                <td ng-repeat="stats in stats">
                    {{stats}}
                    <button type="button" ng-show="page.editPage == 1" ng-click="Peeps.removeStat($index)"><span
                                class="glyphicon glyphicon-trash trashglyph" aria-hidden="true"></span></button>
                </td>
                <td>
                    Remove
                </td>
            </tr>
            <tr ng-repeat="chars in Peeps.characters| filter:search">
                <td ng-repeat="stats in stats">
                    {{chars.stats[stats]}}
                </td>
                <td>
                    <button type="button" ng-click="Peeps.remove($index)" class="btn btn-default btn-xs"><span
                                class="glyphicon glyphicon-trash trashglyph" aria-hidden="true"></span></button>
                </td>
            </tr>
        </table>
        <a class="btn btn-default" ng-click="page.editPage = !page.editPage" role="button">Edit room</a>
        <label for="searcher" class="search">Search</label>
        <input ng-model="search" name="searcher" class="form-control search"/>
    </div>
    <div class="panel panel-default greyness">

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#StatModal">
            Add new stat field
        </button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#CharModal">
            Add new Character
        </button>
    </div>

    <div class="modal fade" id="CharModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Character</h4>
                </div>
                <div class="modal-body">
                    <form name="addChar" ng-controller="charAdder as char" class="charInput"
                          ng-submit="char.addCharacter(Peeps)"
                          ng-show="page.currentPage == 1">
                        <fieldset ng-repeat="stats in stats" class="form-group">
                            <label for="name">{{stats}}</label>
                            <input class="form-control" type="text" name="name"
                                   ng-model="char.character.stats[stats]">
                        </fieldset>
                        <div class="modal-footer">
                            <fieldset class="form-group">
                                <input type="submit" class="btn btn-primary pull-right" value="Add Character"
                                       data-toggle="modal" data-target="#CharModal"/>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="StatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Stat</h4>
                </div>
                <div class="modal-body">
                    <form name="addRoom" class="charInput" ng-submit="Peeps.addStat()">
                        <fieldset class="form-group">
                            <label for="name">Add Stat</label>
                            <input class="form-control" type="text" name="name" ng-model="Peeps.newstat">
                        </fieldset>
                </div>
                <div class="modal-footer">
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Add"/>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="page.currentPage == 2" ng-controller="imgController as images">
    <div class="panel panel-default imageThing">
        <h2>New Post</h2>
        <form name="poster" class="charInput" ng-controller="imageAdder as something"
              ng-submit="something.addImage(images)">

            <fieldset>
                <label for="Title">Post Title</label>
                <input class="form-control" type="text" name="Title" ng-model="something.tempTitle"/>
            </fieldset>

            <fieldset>
                <label for="Image">Image Link</label>
                <input class="form-control" type="text" name="Image" ng-model="something.tempImage"/>
            </fieldset>

            <fieldset>
                <label for="Text">Post Content</label>
                <input class="form-control" type="text" name="Text" ng-model="something.tempText"/>
            </fieldset>

            <fieldset class="form-group">
                <input type="submit" class="btn  pull-right" value="Post"/>
            </fieldset>
        </form>
    </div>
    <div ng-repeat="posts in post">
        <div class="panel panel-default greyness">
            <h2>{{posts.title}}</h2>
            <img class="instaImages" ng-src="{{posts.image}}"/>

            <p>{{posts.text}}</p>
        </div>
    </div>
    <div id="postBox"></div>
</div>
<div ng-show="page.currentPage == 3" ng-controller="chatter as chat">
    <div class="container">
        <div class="chat" id="chatbox">
        </div>
        <form id="watid" action="">
            <div class="form-group">
                <input class="form-control" id="m" autocomplete="off"/>
                <button class="btn btn-default btn-lg center">Send</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>
