.myHeader{
	color: rgb(237, 237, 237);
  	vertical-align: middle;
 	line-height: normal;  
 	text-align: center;

}
.navbar{
	background-image: -webkit-linear-gradient(top, #F4F4F4, #E9E9E9);
}
.sidebar{
	background-color: #eaeaea;
	height:100vh;
}
.container{
	width: 60%;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.form-group{

}
.instaImages{
    display: block;
    max-width:10%;
    max-height:10%;
    width: auto;
    height: auto;
}
form {
    margin: 0 auto;
}
.chat{
	height: 30em;
	margin: auto;
	border-radius: 3px;
	border-color: #A5A5A5;
    border-style: solid;
    background-color: white;
    overflow-y: auto;
	margin-top: 6em;
}
.bork{
	background-color:  #EDEDED;
}
.venter{
	width: 20em;
}
.message{
	margin-top:2em;
	margin-left: 2em;
	margin-right: 2em;
	width: inherit;
	border-style: solid;
	border-color: #EDEDED;
	border-radius: 1em;
	padding: 5px;
}